<a href="https://colab.research.google.com/github/RaiBeirao/DEx-Python-Zero/blob/main/PY0_10_Lista_Extra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios - Python

1) Imprima a frase "Eu sou Dexteeer!"

In [ ]:
print("Eu sou Dexteeer!")

Eu sou Dexteeer!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [1]:
a = float(input("digite um número: "))
b = float(input("digite um número: "))

print(f"{a} + {b} = {a+b}")
print(f"{a} - {b} = {a-b}")
print(f"{a} * {b} = {a*b}")
print(f"{a} / {b} = {a/b}")

12

3) Imprima o tipo de um determinado valor inteiro.

In [2]:
type(100)

int

4) Converta o valor passado anteriormente para o tipo float

In [3]:
float(100)

100.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [4]:
str(100)

'100'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [ ]:
print(round(2.898))
print(round(2.4545455,4))

3
2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [5]:
nome = 'Raí'
print(type(nome))
nome += ' Beirão Augusto dos Santos'
print(nome)
email, idade = 'email@gmail.com',30
email, idade

<class 'str'>
Raí Beirão Augusto dos Santos

('email@gmail.com', 30)

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [6]:
frase = "Python é uma maldição!"
print(frase)
print(frase[0:6])
caracQtd = len(frase)

frase = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
frase.count("dados")
print(frase.capitalize())

print(frase.split(","))

Python é uma maldição!
Python
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..
['dados é o novo petróleo', ' em Deus eu confio', ' para o resto me traga dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [ ]:
idades = [12,35,40,88,53,75]
print(idades[1])
print(len(idades))

idades[1] = 33
print(idades)
print(idades[1:])
del idades[3]

print()

salarios = [900,1200,1500,800,12587,10000]
print(10000 in salarios)
print(max(salarios),min(salarios))
salarios.append(7000)
salarios.extend([990,1100])
print(salarios)
print(salarios.index(800))
salarios.sort()
print(salarios)
salarios.sort(reverse=True)
print(salarios)

35
6
[12, 33, 40, 88, 53, 75]
[33, 40, 88, 53, 75]

True
12587 800
[900, 1200, 1500, 800, 12587, 10000, 7000, 990, 1100]
3
[800, 900, 990, 1100, 1200, 1500, 7000, 10000, 12587]
[12587, 10000, 7000, 1500, 1200, 1100, 990, 900, 800]